header {
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-bottom: solid 5px black;
}

header h1 {
    display: inline-block;
    font-family: sans-serif;
}

header nav input {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: solid 5px black;
    margin-top: 5px;
}
footer h4 {
    text-align: center;
}

footer ul {
    list-style: none;
}

#blog li {
    list-style: none;
    border: solid 1px black;
    margin-bottom: 5px;
}

#blog li h3 {
    border-bottom: solid .5px black;
    margin-left: 5px;
    margin-right: 5px;
}

#content {
    font-weight: normal;
    font-style: italic;
    margin-left: 10px;
}

#username {
    font-style: normal;
    color: gray;
    margin-left: 5px;
}