
* {
  font-family: sans-serif;
}

/* Header Styling */
header nav {
    float: right;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav p {
    cursor: pointer;
}

/* Dark Mode */
.dark {
    background-color:#243447;
    height: 100vh;
    color: #bebebe
   
}

/* Light Mode */
.light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
}